
@import '../../Container/Styles/Variales.scss';

.react-tabs{
    &__tab-list{
        border: none;
        display: flex;
        justify-content: center;
        margin-bottom: 18px;
    }
    &__tab{
        border: none;
        border-bottom: 2px solid $lightPink;
        padding-bottom: 18px;
        text-transform: uppercase;
        color:$lightGray;
    }
    &__tab--selected{
        border-bottom: 2px solid $darkPink !important;
        color: $black;
    }
    &__tab-panel {
        padding: 0 20%;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 600;
    }
}






